/* LOAD FONTS */
@font-face {font-family:'AWConquerorSansLight';
src:url('type/awconquerorsans-light-webfont.eot');
src:url('type/awconquerorsans-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('type/awconquerorsans-light-webfont.woff') format('woff'),
  url('type/awconquerorsans-light-webfont.ttf') format('truetype'),
  url('type/awconquerorsans-light-webfont.svg#AWConquerorSansLight') format('svg');
font-weight:normal; font-style:normal;
}

/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display:block; }
audio, canvas, video { display:inline-block; *display:inline; *zoom:1; }
audio:not([controls]) { display:none; }
[hidden] { display:none; }

html { font-size:100%; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }
body { margin:0; background:#fff; font-size:12px; line-height:1.231;overflow:hidden;}
body, button, input, select, textarea { font-family:'AWConquerorSansLight', 'Lucida Grande' sans-serif; color:#000; text-transform:uppercase;}

::-moz-selection { background:#000; color:#fff; text-shadow:none; }
::selection { background:#000; color:#fff; text-shadow:none; }

h1 {font-size:16px;margin:0 0 20px 0;}

a { color:#000; text-decoration:none; }
a:visited { color:#000; }
a:hover { color:#209b9f; }
a:focus { outline:thin dotted; }
a:hover, a:active { outline:0; }

abbr[title] { border-bottom:1px dotted; }
b, strong { font-weight:bold; }
blockquote { margin:1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family:monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space:pre-wrap; word-wrap:break-word; }
q { quotes:none; }
q:before, q:after { content:""; content:none; }
small { font-size:85%; }
sub, sup { font-size:75%; line-height:0; position:relative; vertical-align:baseline; }
sup { top:-0.5em; }
sub { bottom:-0.25em; }
ul, ol { margin:1em 0; padding:0 0 0 40px; }
dd { margin:0 0 0 40px; }
nav ul, nav ol { list-style:none; list-style-image:none; margin:0; padding:0; }
img { border: 0; -ms-interpolation-mode:bicubic; vertical-align:middle; }
svg:not(:root) { overflow:hidden; }
figure { margin:0; }

form { margin:0; }
fieldset { border:0; margin:0; padding:0; }
label { cursor:pointer; }
legend { border: 0; *margin-left:-7px; padding:0; }
button, input, select, textarea { font-size:100%; margin:0; vertical-align:baseline; *vertical-align:middle; }
button, input { line-height:normal; *overflow:visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor:pointer; -webkit-appearance:button; }
input[type="checkbox"], input[type="radio"] { box-sizing:border-box; }
input[type="search"] { -webkit-appearance:textfield; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border:0; padding:0; }
textarea { overflow:auto; vertical-align:top; resize:vertical; }
input:valid, textarea:valid { }
input:invalid, textarea:invalid { background-color:#f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

/* MY STYLES */
h1#logo {position:fixed; z-index:500000; top:25px; left:20px;}
h1#logo:hover {cursor:pointer; }
ul#nav {position:fixed; z-index:500000; top:60px; left:0; letter-spacing:1px; font-size:11px; padding:30px 10px 10px 20px;}
ul#nav li {cursor:pointer; line-height:1.7; color:#aaa;}
ul#nav li.aboutcontact {margin-top:14px;}
ul#nav li a {color:#000;}
ul#nav li a:hover {color:#06e;}

ul#nav-dots {list-style:none;z-index:480000;position:fixed;right:300px}
ul#nav-dots li {cursor:pointer;float:left;}
ul#nav-dots li.rest {width:20px; height:20px; background:url('../images/slide-indicator.png') no-repeat top;}
ul#nav-dots li.current {width:20px; height:20px; background:url('../images/slide-indicator.png') no-repeat bottom;}

#container {margin-left:240px; background:#cc0; overflow:hidden;}
.section {padding-top:0; height:100%; width:100%; overflow:hidden;}
.carousel {position:absolute;}

.pinfo {position:fixed; z-index:490000; top:200px; left:-190px; width:190px;line-height:1.3; color:#000; border-top:4px solid #eee; padding-top:20px;}
.pinfo2 {position:relative; top:3px; left:10px; width:30em; padding:20px; color:#fff; font-size:13px; background:rgba(255, 255, 255, 0.1);}
div.carousel div p.dark {color:#fff; background:rgba(0, 0, 0, 0.3) !important;}

#t-reuna {position:fixed;z-index:490000;top:0;left:0;width:100%;height:8px;background:#fff;}
#r-reuna {position:fixed;z-index:490000;top:0;right:0;width:8px;height:100%;background:#fff;}
#b-reuna {position:fixed;z-index:490000;bottom:0;left:0;width:100%;height:8px;background:#fff;}
#l-reuna {position:fixed;z-index:490000;top:0;left:0;width:240px;height:100%;background:#fff;}

#info {position:fixed; z-index:500000; bottom:25px; left:25px; background:#fff; color:#333; padding:8px 10px 10px 10px;}
#info:hover {color:#06e; cursor:pointer;}

#pageNext, #pagePrev, #pageUp, #pageDown {position:fixed; z-index:500000; bottom:25px; width:50px; height:50px; left:85px;}
#pageNext{background:url('../images/ui-arrow-right.png') no-repeat top; left:135px;}
#pagePrev{background:url('../images/ui-arrow-left.png') no-repeat top;left:35px;}
#pageUp{background:url('../images/ui-arrow-up.png') no-repeat top; bottom:75px;}
#pageDown{background:url('../images/ui-arrow-down.png') no-repeat top;}

#pageNext:hover {background:url('../images/ui-arrow-right.png') no-repeat center;cursor:pointer;}
#pagePrev:hover {background:url('../images/ui-arrow-left.png') no-repeat center;cursor:pointer;}
#pageUp:hover {background:url('../images/ui-arrow-up.png') no-repeat center;cursor:pointer;}
#pageDown:hover {background:url('../images/ui-arrow-down.png') no-repeat center;cursor:pointer;}

#pageNext:active {background:url('../images/ui-arrow-right.png') no-repeat bottom;}
#pagePrev:active {background:url('../images/ui-arrow-left.png') no-repeat bottom;}
#pageUp:active {background:url('../images/ui-arrow-up.png') no-repeat bottom;}
#pageDown:active {background:url('../images/ui-arrow-down.png') no-repeat bottom;}

#stuffpage{position:fixed; z-index:45000; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.9); color:#fff; padding:20px 20px 20px 200px;}

#intro {background:#f4f4f4;}
#intro img {position:absolute;top:50%; left:50%; margin:-130px 0 0 -250px;}
#intro div canvas {background:url('../images/landing-1.png') no-repeat 35% 45%; width:100%; height:100%;}
#contentflow {}
#timeflow {}
#colortv {}
#aboutcontact {background:#f4f4f4; text-align:center; font-size:15px; padding-top:10%;}
#page9 {background:#222; color:#fff;}

.clear {clear:both; margin:0 0 0 1px;}